<div class="event-scroll">
    <div class="event-scroll-head">
        <h2 class="blue">{{include.title}}</h2>
        <div class="scroll-control">
            <button
                class="event-scroll-control-button"
                onclick="$(this.parentNode.parentNode.parentNode.getElementsByClassName('event-scroll-events')[0]).trigger('prev.owl.carousel')">
                    <img src="{{ "/assets/icons/left_arrow.svg" | relative_url }}" alt="šipka doleva">
            </button>
            <button
                class="event-scroll-control-button"
                onclick="$(this.parentNode.parentNode.parentNode.getElementsByClassName('event-scroll-events')[0]).trigger('next.owl.carousel')">
                    <img src="{{ "/assets/icons/right_arrow.svg" | relative_url }}" alt="šipka doprava">
            </button>
        </div>
    </div>
    <div class="event-scroll-events owl-carousel">
        {% for event in include.events %}
            <div class="event-small white-box">
                <img class=event-small-image src={{ event.image }} alt="titulní obrázek eventu">
                <h3 class="blue y1rem">{{event.title}}</h3>
                <p class="y-1rem y1rem">{{ event.annotation }}</p>
                <a href={{event.url}}>Read more</a>
            </div>
        {% endfor %}
        <script>
            $(document.scripts[document.scripts.length-1].parentNode).owlCarousel({
                margin: 20,
                nav:false,
                autoWidth: true,
                items: 4,
                responsive:{
                    0:{
                        items:1
                    },
                    600:{
                        items:2
                    },
                    1000:{
                        items:4
                    }
                }
            })
        </script>
    </div>
    <div class="center">
        <a class="button fill black event-scroll-more-button">Zobrazit další</a>
    </div>
</div>