<div class="footer">
    <div class="footer-main-text">
        {{ site.data.footer.main }}
    </div>
    <div class="footer-secondary-text">
        {{ site.data.footer.secondary }}
    </div>
    <div class="footer-nav">
        <div class="footer-cookies">
            {{ site.data.footer.cookies }}
        </div>
        <div class="footer-contacts">
            Kontakty
            <ul>
            {% for contact in site.data.footer.contacts %}
                <li>{{ contact }}</li>
            {% endfor %}
            </ul>
        </div>
        <div class="footer-social">
            {% for soc in site.data.footer.social %}
                <a aria-label={{ soc.name }} href={{ soc.link }}>{{ soc.icon }}</a>
            {% endfor %}
        </div>
    </div>
    <div class="footer-copyright">
        {{ site.data.footer.copyright }}
    </div>
</div>