<div class="navbar">
    <div class="brand">
        <a href="/">Úředník.digital</a>
    </div>
    <div class="nav-links">
        {% for navItem in site.data.navbar %}
            {% if navItem.group == "start" %}
                <div class="nav-group">
            {% endif %}
            <a class="nav-link" href={{navItem.link}}>
                {{navItem.text}}
            </a>
            {% if navItem.group == "end" %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
