<div class="navbar">
    <div class="brand">
        Úředník.digital
    </div>
    <div class="nav-links">
        {% for navItem in site.data.navbar %}
            <a class="nav-link
                {% if navItem.type == "link" %}
                    nav-type-link"
                {% elsif navItem.type == "button" %}
                    nav-type-button"
                {% endif %}
            href={{navItem.link}}>
                {{navItem.text}}
            </a>
        {% endfor %}
    </div>
</div>
