$navbar-light: #c4c4c4;
$navbar-dark: #c4c4c4;

$navbutton-light: #AEAEAE;
$navbutton-dark: #AEAEAE;

$navbutton-text-light: #FFFFFF;
$navbutton-text-dark: #FFFFFF;

$navlink-text-light: #000000;
$navlink-text-dark: #000000;