$ceskodigital: #0000FF;
$link: #009345;
$green: #4AFF9F;
$orange: #FFCD94;

$navbar-light: #FFF;
$navbar-dark: #FFF;

$navbutton-light: #AEAEAE;
$navbutton-dark: #AEAEAE;

$navbutton-text-light: #FFFFFF;
$navbutton-text-dark: #FFFFFF;

$button-bg-light: #AEAEAE;
$button-bg-dark: #AEAEAE;

$button-txt-light: #000000;
$button-txt-dark: #000000;

$navlink-text-light: #000000;
$navlink-text-dark: #000000;

$readmore-light: #FF0000;
$readmore-dark: #FF0000;

$footer-light: #EAEAEA;
$footer-dark: #EAEAEA;

$dark-bg-light: #EAEAEA;
$dark-bg-dark: #EAEAEA;

$darkbox-bg-light: #C4C4C4;
$darkbox-bg-dark: #C4C4C4;
