@import "themes";
@import "breakpoints";

// .footer > .background{
//     background-color: $ceskodigital;
//     filter: blur(400px);
//     position: absolute;
//     height: 100%;
//     width: 100vw;
//     // background-position: center;
//     // background-repeat: no-repeat;
//     // background-size: cover;
//     overflow: hidden;
// }

.footer{
    display: grid;
    grid-template-columns: auto auto;
    padding-top: 4.5rem;
    padding-left: 11.5rem;
    padding-right: 11.5rem;
    padding-bottom: 1.75rem;
    @include respond-below(md){
        grid-template-columns: auto;
        padding-left: 1.375rem;
        padding-right: 1.375rem;
        padding-top: 3.125rem;
        padding-bottom: 3.125rem;
    }
}

// .footer-main-text{
//     font-style: normal;
//     font-weight: bold;
//     font-size: 4.5rem;
//     line-height: 5.25rem;
//     padding-bottom: 1.1rem;
// }

// .footer-secondary-text{
//     font-style: normal;
//     font-weight: normal;
//     font-size: 2.25rem;
//     line-height: 2.625rem;
//     padding-bottom: 2.68rem;
// }

.footer-nav{
    display: -ms-grid;
    display: grid;

    @include respond-above(md){
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
    }
    
    @include respond-below(md){
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
    }
}

.footer-cookies{
    @include respond-above(md){
        grid-column: 1/3;
    }
}

.footer-contacts li{
    list-style-type: none;
}

.footer-social{
    display: grid;

    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;

    @include respond-below(md){
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.footer-social a{
    font-size: 5rem;
    height: 5rem;
}

.footer-copyright{
    justify-self: start;
    vertical-align: bottom;
}