@import "navbar";
@import "footer";
@import "utils";
@import "event_scroll";
@import "something_more";
@import "themes";
@import "event";
@import "form";
@import "team";
@import "about";
@import "fonts";
@import "buttons";
@import "spacers";
@import "background";

@import url('https://fonts.googleapis.com/css2?family=Roboto');

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css");

*{
    margin: 0;
    padding: 0;
    font-family: "Cesko Digital",ConfluenceInstalledFont,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Fira Sans,Droid Sans,Helvetica Neue,sans-serif
}

a{
    text-decoration: none;
    color: $link;
}

a:hover, button:hover{
    text-decoration: underline;
}

html{
    height: 100%;
    width: 100%;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
}

body{
    height: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: auto 1fr auto;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
    width: 100%;
    // background-color: #F9DFB5;
    // background: rgb(249,223,181);
    // background: linear-gradient(90deg, rgba(249,223,181,1) 2%, rgba(255,255,255,1) 100%);
}


main{
    @include respond-above(xl){
        padding-left: 9.875rem;
        padding-right: 9.975rem;
    }
    @include respond-below(xl){
        padding-left: 10%;
        padding-right: 10%;
    }
    padding-top: 9rem;
    padding-bottom: 9rem;
    // width: calc(100% - 10rem);
}

.top-grid{
    display: grid;

    grid-template-columns: 60% 40%;
    grid-row-gap: 3rem;
    align-items: center;

    max-width: 100%;

    // margin-left: 10rem;
    // margin-right: 10rem;

    margin-bottom: 5rem;

    @include respond-below(md){
        grid-template-columns: auto;
    }
}

// h1, h2, h3{
//     font-family: "cesko.digital";
// }

p {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
}

h2{
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0em;
    margin-bottom: 1.25rem;
}

h3{
    font-size: 32px;
    font-weight: 500;
    line-height: 38px;
    letter-spacing: 0em;
}

h1 {
    font-size: 72px;
    font-weight: 600;
    line-height: 79px;
    letter-spacing: 0em;
    margin-bottom: 3.125rem;
}

h4 {
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
}

.perex{
    font-style: normal;
    font-weight: normal;
    font-size: 3rem;
    line-height: 3.5rem;
    margin-bottom: 3.125rem;
}

.top-image{
    width: 100%;
    height: calc(max-width);
    text-align: center
}

hr{
    margin-bottom: 1.75rem;
}

.dark-bg{
    margin-left: -5rem;
    margin-right: -5rem;
    padding-top: 2.125rem;
    padding-bottom: 2.125rem;
    padding-left: 5rem;
    padding-right: 5rem;
    @include themed{
        background-color: t($dark-bg);
    }
}

button, .button{
    cursor: pointer;
    // border: none;
    // padding-top: .5rem;
    // padding-bottom: .5rem;
    // display: inline-block;
    // width: 18.75rem;
    // font-size: 1.5rem;
    // line-height: 1.75rem;
    // text-align: center;
    // margin: .5rem;
    // margin-left: .5rem;
    // margin-right: .5rem;
    // @include themed(){
    //     background-color: t($button-bg);
    //     color: t($button-txt);
    // }
}

ul{
    list-style: none;
}

// p{
//     font-style: normal;
//     font-weight: normal;
//     font-size: 1.25rem;
//     line-height: 1.5rem;
//     margin-bottom: .5rem;
// }

.dark-box{
    margin-top: -1.5rem;
    margin-bottom: -1.5rem;
    padding: 1.5rem;
    //padding-bottom: 1.5rem;
    @include themed(){
        background-color: t($darkbox-bg);
    }
}

.list{
    font-style: normal;
    font-weight: normal;
    font-size: 1.25rem;
    line-height: 1.5rem;
    margin-bottom: .5rem;
}

.box{
    border: solid black 1px;
    padding: 3.5rem;
}

.top-box{
    align-self: start;
    padding: 1rem;
}

.download-list li{
    margin-bottom: 0.75rem;
    margin-top: 0.75rem;
}

.download-list li a::before{
    background-color: white;
    width: 2rem;
    height: 1.375rem;
    display: inline-block;
    content: url(../icons/down_arrow.svg);
    margin-right: 1rem;
}

.white-bg{
    background-color: #FFFFFF;
    width: 100%;
    padding-top: 3rem;
    @include respond-above(xl){
        margin-left: -9.875rem;
        padding-left: 9.875rem;
        padding-right: 9.975rem;
    }
    @include respond-below(xl){
        margin-left: calc(-12.5%);
        padding-left: 12.5%;
        padding-right: 12.5%;
    }
}

.white-box{
    background-color: #FFFFFF;
    border-radius: 1.875rem;
    padding: 1.875rem;
}

ul:not(.contactList, .download-list) li::marker{
    content: url("../icons/bullet_arrow.svg");
    height: 2rem;
    position: relative;
    top: 10rem;
    // margin-right: .3rem;
}

ul li{
    position: relative;
    line-height: 2rem;
    margin-bottom: .2rem;
    top: -.5rem;
}

ul.contactList li i.bi::before{
    font-size: 3.125rem;
    position: relative;
    top: .78125rem;
}

ul.contactList li{
    line-height: 3.125rem;
    position: relative;
    //top: -1.5625rem
}

.gridlist{
    display: grid;
    justify-content: center;
    gap: 1rem 1rem;
    grid-template-columns: repeat(auto-fill, 20rem);
}