@import "themes";
@import "breakpoints";

// nav{
//     position: sticky;
//     top:0;
// }

.navbar{
    position: -webkit-sticky;
    position: sticky;
    display: -ms-grid;
    display: grid;
    padding-left: 9rem;
    padding-right: 9rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    top: 0;

    -ms-grid-columns: auto auto;
    grid-template-columns: auto auto;

    @include respond-below(md){
        // -ms-grid-columns: auto;
        // grid-template-columns: auto;

        //-ms-grid-rows: auto auto;
        //grid-template-rows: auto auto;
        row-gap: 3rem;
    }

    @include respond-below(xl){
        padding-left: 10%;
        padding-right: 10%;
    }

    @include respond-below(lg){
        padding-left: 5%;
        padding-right: 5%;
    }

    align-items: center;

    @include themed(){
        background-color: t($navbar-bg);
    }
}

.nav-links{
    justify-self: end;
    @include respond-below(md){
        justify-self: center;
        display: grid;
        grid-template-rows: auto auto auto;
        justify-items: center;
        row-gap: 3rem;
        grid-column: 1/3;
    }
}

.nav-link{
    display: inline-block;
    width: max-content;
    font-size: 1.5rem;
    line-height: 1.875rem;
    text-align: center;
    margin-left: 1.5rem;
    margin-right: 1.5rem;

    @include respond-between(md, lg){
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

.brand{
    width: 12rem;
    font-size: 1.3rem;
    line-height: 1.5rem;
    font-weight: 500;
    font-style: normal;
    justify-self: start;
    // @include respond-below(md){
    //     justify-self: center;
    //     text-align: center;
    // }
}

.brand img{
    height: 3.25rem;
}

.nav-group{
    display: inline;
    margin: 0;
    background-color: $green;
    border-radius: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.nav-toggle{
    justify-self: end;
    cursor: pointer;
}

.nav-toggle[aria=on]{
    content: url(../icons/close.svg);
}

.nav-toggle[aria=off]{
    content: url(../icons/menu.svg);
}