@import "themes";

.something-more-container{
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    padding: 3.3125rem;

    border-radius: 6.25rem;

    margin-bottom: 5rem;

    background-color: $ceskodigital;
    color: #ffffff;

    @include respond-below(md){
        border-radius: 0;
        grid-template-columns: auto;
        padding-left: 12.5%;
        padding-right: 12.5%;
        margin-left: calc(-12.5%);
        margin-right: calc(-12.5%);
        row-gap: 2rem;
    }
}

.something-more-links{
    display: grid;
    color: initial;
    justify-self: end;
    text-align: center;
    vertical-align: middle;
    grid-template-columns: auto auto;
    justify-content: center;
    column-gap: .5rem;

    @include respond-below(xl){
        grid-template-columns: auto;
        row-gap: 1rem;
    }

    @include respond-below(md){
        justify-self: center;
    }
}


.something-more-button{
    height: 100%;
    padding-top: .5rem;
    padding-bottom: .5rem;
    display: inline-block;
    width: 18.75rem;
    font-size: 1.5rem;
    line-height: 1.75rem;
    text-align: center;
    margin: .5rem;
    margin-left: .5rem;
    margin-right: .5rem;
}

.something-more-text{
    font-style: normal;
    font-weight: 500;
    font-size: 3rem;
    line-height: 3.5rem;
}