@for $i from 1 through 10{
    .y#{$i}rem{
        margin-top: $i * 1rem;
    }

    .x#{$i}rem{
        margin-left: $i * 1rem;
    }

    .y-#{$i}rem{
        margin-bottom: $i * 1rem;
    }

    .x-#{$i}rem{
        margin-right: $i * 1rem;
    }
}