---
layout: default
---
<h1>Přidej se k nám!</h1>
<div class="perex">
    Staň se součástí Česko.Digital, největší komunity expertních dobrovolníků a dobrovolnic. Rádi tě zapojíme do projektů, které tě budou bavit a kde můžeš získat nové zkušenosti nebo se podělit o své nápady.
</div>
<p>
    Začni prosím tím, že vyplníš následující registrační formulář. Vyplněná data neprezentujeme veřejně, ale lépe tě díky nim poznáme a uděláme si představu o tom, jaké projekty by tě mohly zajímat a kde bychom tě potřebovali.
</p>
<br>
<p>
    Po odeslání formuláře se dostaneš na náš Slack, ve kterém probíhá veškerá komunikace o projektech a mezi členy komunity. Tam tě také hned přivítá robot, který ti pomůže s orientací v komunitních kanálech a předá ti další důležité informace.
</p>
<div class="y5rem"></div>
<form>
    <h2>Představ se</h2>
    <label for="name" class="margin-tp margin-bt">Jméno</label>
    <input id="name" type="text" name="name">
    <label for="email" class="margin-tp margin-bt">Email</label>
    <input id="email" type="email" name="email" placeholder="@">
    <div class="y3rem"></div>
    <h3>Mám zájem o</h3>
    {% for topic in page.topics %}
        <input id="{{topic.id}}" type="checkbox" name="topic" value={{topic.id}}><label for={{topic.id}} class="margin-bt">{{topic.name}}</label>
    {% endfor %}
    <button type="submit" class="border">Odeslat</button>
</form>