---
layout: default
---

<div class="top-grid">
    <div>
        <h1>{{ page.h1 }}</h1>
        <div class="perex">{{ page.perex }}</div>
    </div>
    <!-- <div class="top-image"> -->
        <img class="top-image" alt="člověk venčí §" src="{{ "/assets/images/Ilustrace 1.svg" | relative_url }}">
    <!-- </div> -->
</div>

<div class="white-box y-5rem">
    {% assign event = site.events | first %}
    <div class="last-event-grid">
        <img alt="" class="last-event-image" src="{{ event.image }}">
        <div>
            <a href="{{event.url}}" class="black"><h2>{{ event.title }}</h2></a>
            {% if event.annotation %}
                <p class="y-1rem y1rem">{{ event.annotation }}</p>
            {% else %}
                <p class="y-1rem y1rem">{{ event.content | strip_html | slice: 0, 248 }}...</p>
            {% endif %}
            <div class="y1rem"></div>
            <a href={{event.url}}>Detail akce</a>
        </div>
    </div>
</div>

<div class="white-bg">
    {% include event_scroll.html title="Eventy" events=site.events more_link="/eventy" more_text="Detail akce" %}
</div>

{% include something_more.html text="Máme pro vás něco navíc" link1url="/metodika" link1text="Metodika" link2url="/diskuse" link2text="Diskuse"%}

<div class="white-bg">
    {% include event_scroll.html title="Záznamy eventů" events=site.done_events more_text="Spustit" more_link="/zaznamy" %}
</div>


<div>
    {% include event_scroll.html title="Blog" events=site.posts more_link="/blog" more_text="Číst dále" %}
</div>
