---
layout: default
---

<div class="top-grid">
    <div>
        <h1>Úřady digitálně a lidsky</h1>
        <div class="perex">Vzděláváme, sdílíme, síťujeme a budujeme komunitu. Zapojte se viz níže</div>
    </div>
    <!-- <div class="top-image"> -->
        <img class="top-image" alt="člověk venčí §" src="{{ "/assets/images/Ilustrace 1.svg" | relative_url }}">
    <!-- </div> -->
</div>


<div class="white-bg">
    {% include event_scroll.html title="Proběhlé eventy" events=site.events%}
</div>

{% include something_more.html text="Máme pro vás něco navíc" link1url="/metodika" link1text="Metodika" link2url="/diskuse" link2text="Diskuse"%}

<div class="white-bg">
    {% include event_scroll.html title="Záznamy eventů" events=site.events%}
</div>


<div>
    {% include event_scroll.html title="Blog" events=site.events%}
</div>
